<div class="aboutme" id="aboutme">
  <div class="container justify-content">
    <div class="row">
      <div class="col">
        <div class="card-box-img">
          <div class="card-img">
            <img src="../../../assets/image/me.jpg" />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="text">
          <h2>About Me</h2>
          <br />
          <p>
            Hello, my name is Santichai Yarasit, call me Peace. I'm a student at
            Suranaree University of technology. I'm studying web development. I
            love web development I'm always improving myself with the times.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
