<div class="exp">
    <div class="container-md">
        <h2 style="text-align:center; ">Work Experience</h2>
        <div class="row">
            <div class="col">
                <div class="box-exp">
                    <div class="box-text">
                        <div class="text-header"><p>August 2020 - March 2021<p></div>
                        <div class="text-work"><h3>Web Developer</h3></div>
                        <div class="text-header"><p>Division of Academic Support at SUT<p></div>
                            <p>PHP</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-exp">
                    <div class="box-text">
                        <div class="text-header"><p>July 2021 - October 2021 (internship)<p></div>
                        <div class="text-work"><h3>Software Development</h3></div>
                        <div class="text-header"><p>ME Group Enterprise Co,. Ltd.<p></div>
                            <p>Angular & NodeJS </p>
                    </div>
                 
                </div>
            </div>
            <div class="col">
                <div class="box-exp">
                    <div class="box-text">
                        <div class="text-header"><p>October 2021 - present<p></div>
                        <div class="text-work"><h3>Software Development</h3></div>
                        <div class="text-header"><p>ME Group Enterprise Co,. Ltd.<p></div>
                            <p>Angular & NodeJS </p>
                    </div>
                 
                </div>
            </div>

        </div>
    </div>
</div>
